<div class="panel panel-info" style="width: 500px; margin-left: 10px;">
  <div class="panel-heading">Address</div>
  <div class="panel-body">
    <div class="row">
      <div class="column left">
        <label>Street</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.address.street"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>City</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.address.city"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>State</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.address.state"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>Country</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.address.country"/>
      </div>
    </div>
  </div>
</div>