<div class="panel panel-info" style="width: 500px; margin-left: 10px;">
  <div class="panel-heading">Customer details</div>
  <div class="panel-body">
    <div class="row">
      <div class="column left">
        <label>Name</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.firstName"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>Surname</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.surname"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>Phone</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.phone"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>E-mail</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.email"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>Birth date</label>
      </div>
      <div class="column">
        <input [ngModel] = "selectedCustomer.bornDate | date:'MM.dd.yyyy'"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>Company</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.company"/>
      </div>
    </div>
    <div class="row">
      <div class="column left">
        <label>Gender</label>
      </div>
      <div class="column">
        <input [(ngModel)] = "selectedCustomer.gender"/>
      </div>
    </div>
  </div>
</div>