.row {
    display: flex;
    
}

.column {
    flex: 50%;
    margin-top: 10px;
}

label{
    margin-right: 5px;
}

input{
    margin-right: 5px;
}

.filter{
    margin-left: 30px;
    margin-top: 30px;
}

.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);
}
.example-wrapper {
    min-height: 100px;
}