<div class="row">
  <div class="column">
    <kendo-grid [data]="tempArrCustomer" [height]="500" style="margin-left: 10px;" 
                [selectable]="{mode: 'single'}" (selectionChange)="eventSelect($event)">
      <kendo-grid-column field="firstName" title="Name" width="70" [filterable]="true">
      </kendo-grid-column>
      <kendo-grid-column field="surname" title="Surname" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="company" title="Company" width="70">
      </kendo-grid-column>
      <kendo-grid-column field="bornDate" title="Year of birth" width="70">
          <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.bornDate | date:'yyyy' }}
          </ng-template>
      </kendo-grid-column>
  </kendo-grid>
  <div class="filter">
    <label>Filter name:</label>
    <input [(ngModel)]="filterContent" (ngModelChange)="onChangeFilter()" />
  </div>
  </div>
  <div class="column">
    <app-customer-details [selectedCustomer]="selectedCustomer"></app-customer-details>
    <hr>
    <app-customer-address [selectedCustomer]="selectedCustomer"></app-customer-address>
    <div class="example-config">
      <button #anchor (click)="onToggle()" class="btn btn-primary" style="margin-left:10px;">Document</button>
    </div>
    <div class="example-wrapper">
      <kendo-popup [popupClass]="'content popup'" [anchor]="anchor" (anchorViewportLeave)="show = false" *ngIf="show">
          {{selectedCustomer.document.value}}
      </kendo-popup>
    </div>
  </div>
</div>